@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  @apply bg-bglight;
}

#app {
  height: 100%;
  width: 100%;
}

h1 {
  @apply text-3xl -scroll-mb-10 mb-2;
}

h2 {
  @apply text-xl my-1;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68D391;
}

.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68D391;
}
