name: Deploy app

on:
  push:
    branches:
      - main
    paths:
      - app/**.*


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v1
     - run: |
        echo "hello world!"
    #     pip install -r requirements.txt
    #     echo "Another message or command"
    #     python myscript.py
    #     bash some-shell-script-file.sh -xe
    #  - run: echo "One last message"